* {
    box-sizing: border-box;
}

body {
    background: url("https://i.pinimg.com/originals/cd/cb/96/cdcb963b0f440e1cf87e0bcaffddf511.jpg");
    background-size: cover;
    margin: 50px;
    display: flex;
    justify-content: center;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}