@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#root {
    background-image: url('https://i.pinimg.com/originals/cd/cb/96/cdcb963b0f440e1cf87e0bcaffddf511.jpg');
    background-size: cover;
    height: 100vh;


}
body {
    display: contents;
}

* {
    font-family: 'Inter', sans-serif;
}